/*-------------- FONTS ---------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

h1{
    font-family: "Sacramento", cursive;
    font-size: 10rem;
}

body{
    font-family: "Montserrat", sans-serif;
}

/*-------------- SOCIAL ROW ---------------*/

.icons-row{
    margin: 2rem 0;
}

.social-icon{
    margin: 0 1rem 0 0;
}

/*-------------- HEADER ---------------*/

header{
    margin-bottom: 5rem;
}

/*-------------- HEADER SPECIAL POSITION ---------------*/

.colored-bands{
    position:absolute;
    right:0;
    top:0;
}

.profile-picture{
    position: absolute;
    right: 17.5rem;
    top: 16rem;
}

.sticker-sw{
    top: 22rem;
    right: 34rem;
}

.sticker-certificate{
    top: 37rem;
    right: 30rem;
}

.sticker-multiskilled{
    top: 30rem;
    right: 7rem;
}

.presentation-icon{
    position: absolute;
}

.trophee-icon{
    bottom: 5.5em;
    left: 6rem;
}

.code-icon{
    bottom: 4rem;
    left: 6rem;
}

.skills-icon{
    bottom: 7rem;
    left: 6rem;
}

/*-------------- COLORS ---------------*/
.watergreen{
    color: #025464;
}

.orange{
    color: #E57C23;
}

.yellow
{
    color: #E8AA42;
}

/*-------------- BACKGROUND COLORS ---------------*/
body{
    background-color:rgb(255, 251, 246);
}

.bg-watergreen{
    background-color: #025464;
}

.bg-orange{
    background-color: #E57C23;
}

.bg-yellow
{
    background-color: #E8AA42;
}

/*-------------- SPECIAL SHAPES ---------------*/

.sticker{
    font-weight: 500;
    position: absolute;
    color: #fff;
    padding: 1rem;
    max-width: 15rem;
}

.sticker p, .sticker ul{
    margin-bottom: 0rem;
}

.project-row{
    margin: 5rem 0;
}

.project-square{
    width: 20rem;
    min-height: 25rem;
}

/*-------------- SPECIAL POSITIONS ---------------*/

.card-2{
    margin-top: 5rem;
}

.card-3{
    margin-top: 2rem;
}

/*-------------- CUSTOM BOOTSTRAP ---------------*/

/* .btn-primary{
    font-weight: 500;
    background-color: #025464;
    border: #025464;
}

.btn-primary:hover{
    background-color:#E57C23;
} */